{% extends 'home.html'%}

{% block content %}
<div class="container mt-5">
    <br><br><br>
    <div class="container">
        <h1 class="display-5"> 
        Nombre Completo: Andres Alejandro Quezada Cabrera
        <br>
        Carné: 202200174
        <br>
        Curso y Sección: Introducción a la Programción y Computación 2 - Sección "D"
        <br>
        Carrera: Ingenieria en Ciencias y Sistemas
        <br>
        USAC 4to. Semestre del 2023           
        </h1>
    </div>
    <div class="container mt-5">
        <a class="btn btn-primary" href="https://drive.google.com/file/d/1K7YoZNdsbTwdD5sQCFbfXBaxNHl-Srta/view?usp=sharing" target="_blank">DOCUMENTACIÓN</a>
    </div>
</div>
{% endblock %}